@using WeightRecordFrontEnd.Models
@{
    ViewData["Title"] = "Home Page";

}


<div class="container-lg" style="display: flex; align-items: center;">
    <label style="margin-right: 150px;">Project</label>
    <select class="form-control" name="Project" id="Project" style="width: 250px;">
        <option value="" disabled selected>- Please select project -</option>
        <option value="RR">RR</option>
        <option value="Pearl">Pearl</option>
    </select>

</div>
<div id="projectError" style="color: red; margin-left: 210px; font-size: 13px;"></div>
<br />

<div class="container-lg" style="display: flex; align-items: center;">
    <label style="margin-right: 110px;">Part Number</label>
    <select class="selectpicker" data-live-search="true" name="PartNo" id="PartNo" style="width: 250px;">
    </select>

</div>
<div id="partNoError" style="color: red; margin-left: 210px; font-size: 13px;"></div>
<br>

<div class="container-lg" style="display: flex; align-items: center;">
    <label style="margin-right: 78px;">Batch-Serial from</label>
    <input type="text" class="form-control" style="width: 250px;" name="sBatch" id="sBatch">
    <label style="margin-left: 100px; margin-right: 100px; ">To</label>
    <input type="text" class="form-control" style="width: 250px;" name="eBatch" id="eBatch">
</div>

<div style="display: flex;">
    <p style="margin-left: 210px; margin-top: 0px; margin-bottom: 0px; color: red; font-size: 13px;">Batch-SerialNumber</p>
    <p style="margin-left: 350px; margin-top: 0px; margin-bottom: 0px; color: red; font-size: 13px;">Batch-SerialNumber</p>
</div>
<div style="display: flex;">
    <p style="margin-left: 210px; margin-top: 0px; margin-bottom: 0px; color: red; font-size: 13px;">Example : 0010-0001</p>
    <p style="margin-left: 345px; margin-top: 0px; margin-bottom: 0px; color: red; font-size: 13px;">Example : 0010-0001</p>
</div>
<div style="display: flex;">
    <div id="sBatchError" style="margin-left: 210px; margin-top: 0px; margin-bottom: 0px; color: red; font-size: 13px;"></div>
    <div id="eBatchError" style="margin-left: 465px; margin-top: 0px; margin-bottom: 0px; color: red; font-size: 13px;"></div>
</div>


<br>
<div class="container-lg" style="display: flex; align-items: center;">
    <label style="margin-right: 64px;">Measure Date from</label>
    <input type="date" class="form-control " style="width: 250px;" name="sDate" id="sDate">
    <label style="margin-left: 100px; margin-right: 100px; "> To </label>
    <input type="date" class="form-control " style="width: 250px;" name="eDate" id="eDate">
</div>
<div style="display: flex; ">
    <p style="margin-left: 210px; margin-top: 0px; margin-bottom: 0px; color: red; font-size: 13px;">Measure Date</p>
    <p style="margin-left: 390px; margin-top: 0px; margin-bottom: 0px; color: red; font-size: 13px;">Measure Date</p>
</div>
<div style="display: flex;">
    <p style="margin-left: 210px; margin-top: 0px; margin-bottom: 0px; color: red; font-size: 13px; ">Example : 0000-01-01</p>
    <p style="margin-left: 345px; margin-top: 0px; margin-bottom: 0px; color: red; font-size: 13px; ">Example : 0000-01-01</p>
</div>
<div style="display: flex;">
    <div id="sDateError" style="margin-left: 210px; margin-top: 0px; margin-bottom: 0px; color: red; font-size: 13px;"></div>
    <div id="eDateError" style="margin-left: 470px; margin-top: 0px; margin-bottom: 0px; color: red; font-size: 13px; "></div>
</div>
<CENTER>
    <button type="submit" class="Search btn btn-primary" name="btnProcess" id="btnProcess">PROCESS</button>
</CENTER>

<br>
<br>
<div class="container-fluid">
    <div id="bindShowData">
    </div>
</div>



@section Scripts {
    <script>

        $(document).ready(function () {
           

            $('.selectpicker').selectpicker();

        });



        $("#Project").change(function () {
            console.log($.trim($('#Project').val()));

            var project = $.trim($('#Project').val());
            if (project != "") {
                if (project == "RR") {

                    $.ajax({
                        type: "GET",
                        url: "/Home/GetRRPartNo",
                        dataType: "json",
                        data: {},
                        success: function (data) {
                            var s = '<option value="">-Please Select PartNo-</option>';
                            for (var i = 0; i < data.length; i++) {
                                s += '<option value="' + data[i].partNo + '">' + data[i].partNo + '</option>';
                            }
                            $("#PartNo").html(s);
                            $('#PartNo').selectpicker('refresh');
                        },
                        error: function (data) {
                            alert("The System has some problem..please try it again.");
                        }
                    })


                }
                if (project == "Pearl") {

                    $.ajax({
                        type: "GET",
                        url: "/Home/GetPearlPartNo",
                        dataType: "json",
                        data: {},
                        success: function (data) {
                            var s = '<option value="">-Please Select PartNo-</option>';
                            for (var i = 0; i < data.length; i++) {
                                s += '<option value="' + data[i].partNo + '">' + data[i].partNo + '</option>';
                            }
                            $("#PartNo").html(s);
                            $('#PartNo').selectpicker('refresh');
                        },
                        error: function (data) {
                            alert("The System has some problem..please try it again.");
                        }
                    })


                }

            }

        });


        $(document).on('click', ".Search", function () {
            var project = $.trim($('#Project').val());
            var partNo = $.trim($('#PartNo').val());
            var sbatch = $.trim($('#sBatch').val());
            var ebatch = $.trim($('#eBatch').val());
            var sdate = $.trim($('#sDate').val());
            var edate = $.trim($('#eDate').val());

            // Reset error messages
            $("#projectError").text("");
            $("#partNoError").text("");
            $("#sBatchError").text("");
            $("#eBatchError").text("");
            $("#sDateError").text("");
            $("#eDateError").text("");

            var hasError = false; // Flag to track errors

            // Check for empty fields and display error messages
            if (project === "") {
                $("#projectError").text("Please fill the Project field.");
                hasError = true;
            }

            if (partNo === "") {
                $("#partNoError").text("Please fill the Part Number field.");
                hasError = true;
            }

            if (sbatch !== "" && ebatch === "") {
                $("#eBatchError").text("Please fill the Batch-SerialNumber field.");
                hasError = true;
            }

            if (ebatch !== "" && sbatch === "") {
                $("#sBatchError").text("Please fill the Batch-SerialNumber field.");
                hasError = true;
            }

            if (sdate !== "" && edate === "") {
                $("#eDateError").text("Please fill the Measure Date field.");
                hasError = true;
            }

            if (edate !== "" && sdate === "") {
                $("#sDateError").text("Please fill the Measure Date field.");
                hasError = true;
            }

            if (hasError) {
                return; // Stop further processing if there are errors
            }

            // Continue with table loading logic
            if (project == "RR") {
                $("#bindShowData").load(`/Home/IndexSearchTable` + '?project=' + project + '&partNo=' + partNo + '&sbatch=' + sbatch + '&ebatch=' + ebatch + '&sdate=' + sdate + '&edate=' + edate, function (statusTxt) {
                    if (statusTxt == "error") {
                        alert("Error occurred during the process. Please contact the administrator");
                    }
                });
            } else if (project == "Pearl") {
                $("#bindShowData").load(`/Home/IndexSearchPearlTable` + '?project=' + project + '&partNo=' + partNo + '&sbatch=' + sbatch + '&ebatch=' + ebatch + '&sdate=' + sdate + '&edate=' + edate, function (statusTxt) {
                    if (statusTxt == "error") {
                        alert("Error occurred during the process. Please contact the administrator");
                    }
                });
            }
        });
    </script>

}

